@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
:root {
    --primary-color: rgba(13, 110, 139, 0.55);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --trans-speed: 0.5s;
}
:root{
    --header-height: 3rem;
   --fonts-semi: 600; 
}
:root{
   --body-font: 'BigShoulders' ,sans-serif;
   --big-font: 2rem;
   --h2-font-size: 1.25rem;
   --h3-font-size:1.55rem;
   --regular-font-size: 0.94rem;
}
@media screen and (min-width: 768px){
   :root{
       --big-font: 3.5rem;
       --h2-font-size: 2rem;
       --regular-font-size: 1rem;
   }
}
/*-------------------------Main_Colour_Varables-----------------------*/
:root{
   --primary-color: rgba(13, 110, 139, 0.55);
   --secondary-color: rgba(24, 39, 51 , 0.85);
}
/*------------------------Margin_Varables-----------------------------*/
:root{
   --marginb-1: 0.5rem;
   --marginb-2: 1rem;
   --marginb-3: 1.5rem;
   --marginb-4: 2rem;
   --marginb-5: 2.5rem;
   --marginb-6: 3rem;
}
/*---------------------Indexes_Varables-------------------------------*/
:root{
   --z-back:-10;
   --z-normal:1;
   --z-tooltip:10;
   --z-fixed:100;
}
*,::before, ::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--regular-font-size);
    color: var(--secondary-color);
}
h1,h2,h3,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    max-width: 100%;
    height: auto;
    display: block;
}
.title{
    position: relative;
    font-size: var(--h3-font-size);
    color: var(--primary-color);
    margin-top: var(--marginb-2);
    margin-bottom: var(--marginb-4);
    text-align: center;
}
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-top: var(--marginb-2);
  margin-bottom: var(--marginb-4);
  text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem;
    background-color: var(--primary-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
/*------------------------------Header Block -------------------------------------------------------*/
.bd_grid{
    width: calc(100% - 2rem);
    margin-left: var(--marginb-2);
    margin-right: var(--marginb-2);
    max-width: 1000px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
  }
  .main_header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px rgba(146,161,176,.15);
  }
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  .nav_item{
    margin-bottom: var(--marginb-4);
  }
  .nav_link{
    position: relative;

  }
  .nav_link:hover{
    position: relative;
  }
  .nav_link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 25px;
    background-color: var(--primary-color);
  }
  .nav_logo{
    color: var(--secondary-color);
  }
  @media screen and (max-width: 768px){
    .nav_menu{
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--secondary-color);
      transition: .5s;
    }
  }

/*----------------------- Button Block ----------------------------------------------------*/
#myBtn{
    border: solid;
    padding:  15px;
    color: black;
}
#myBtn:active{
    color: greenyellow;
}
#myBtn:hover{
    padding: 15px;
    color: red;
}
#myBtn{
    background-image: url(../images/up.jpeg);
    background-size: 100%;
    position: fixed;
    margin-top: 30px;
    margin-left: 10px;
    text-decoration: none;
}
/*------------------------Header Block ------------------------------------------------------*/
.container{
    text-align: left;
    padding: 25px;
    border-style: none;
    font-size: larger;

}
 /*--------------------- Professional Block -------------------------------------------------*/
#info{
    padding-top: 1px;
    background-position: center;
    height: 150px;
    padding-left: 50px;
    margin-right: 15%; 
}
#info p{
    font-size: 18px;
    margin-left: 30px;
}
.date{
    float: left;
    width: 12%;
   box-sizing:border-box;
}
.position{
   float:left;
   width: 15%;
   box-sizing: border-box;
   font-style:italic;
}
 /*---------------------- Experience Block ----------------------------------------------------*/
#exp{
    padding-left: 50px;
}

#exp-main p{
     margin-left: 30px; 
}

.def{
    padding-bottom: 5px;
}
 /* -------------------------------Education Block ------------------------------*/
#edu-block {
    padding-left: 50px;
}
#edu-block p{
margin-left: 30px;
   height: 10px;

}

#edu-block .itl{
    font-style: italic;

}
#edu-block .last{
    padding-bottom: 25px;
}
#acc-block {
    padding-top: 1px;
    padding-left: 50px;
}
 /* --------------------------Key Block ------------------------------------------------------------*/
#key-block{
    padding-left: 50px;
}

#key-block #left{
    float :left;
    width:20%;
    padding:15px;
    box-sizing: border-box;
}
#key-block #right{
    float :left;
    width:20%;
    padding:15px;
    box-sizing: border-box;
}
#key-block li{
    margin-left: 30px;
}
 /* ------------------------Accomplishment Block --------------------------------------------------*/
#acc-block .indent{
    margin-left: 30px;
}
#acc-block ul{
    margin-right: 30%;
}
#acc-block{
    padding-left: 50px;
}
#app-block{
    padding-left: 50px;
}

  