@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;700&display=swap");
:root{
    --primary-color: rgba(13, 110, 139, 0.55);
    --secondary-color: rgba(24, 39, 51 , 0.85);
}


a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
 font-family: 'Big Shoulders', sans-serif;
 font-size: 15px;
 padding: 0;
 margin: 0;
}
ul{
    list-style: none;
}
ul li{
    display: inline;
    padding-left: 10px;
}

.img_fix{
    justify-self: center;
    width: 200px;
    border-radius: .5rem;
    float: left;
}
.grid{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_text{
    margin: 0 30rem;
 }
 .title{
  margin-bottom: 2.5rem;
  text-align: center;

 }
.section_title{
    position: relative;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--primary-color);
}
.section_title::after{
    position: absolute;
    content: '';
    width: 80px;
    left: 0;
    height: 0.18rem;
    right: 0;
    margin:  auto;
    top: 2.5rem;
    background-color: var(--primary-color);
}
/*--------------------------------Navagation--------------------*/
.main_nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    box-shadow: 0 2px rgba(146,161,176,.15);
    color:var(--secondary-color);
    z-index: 10;
}
.nav_item {
    margin: 2rem 0.5rem;
   
}
.nav li{
    color: var(--secondary-color)
}
.nav_link{
    position: relative;
}
.nav_link:hover{
    position: relative;
}
.nav_link:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 25px;
    background-color: var(--primary-color);
}
.logo{
    justify-content: left;
    margin-right: 9rem;
}
/*----------------------------------Main_text-----------------------*/
.home_title_colour{
    color: var(--primary-color);
    background-color: var(--primary-color);
    background: var(--primary-color);
}
.home_data{
    text-align: center;
}
.home_title{
    margin-top: 5rem;
    font-size: 3rem;
    margin-bottom:5rem;
  }
.home_title_color{
    color: var(--primary-color);
}
/*------------------------------------Summary---------------------------*/
.summary_text{
    margin-bottom: 1.5rem;
    margin-right: 10rem;
    width: 350px;
    margin-left: 9rem;
    text-align: left;
    margin-bottom: 5rem;
}
/*---------------------------------Education----------------------------*/
.itl{
    margin-bottom: 0.5rem;
}
.last{
    margin-bottom: 3.5rem;
}
.education_text{
    margin-left: 8rem;
}
/* --------------------------Skills---------------------------*/
.skills_container{
    row-gap: 3rem;
    text-align: center;
  
  }
  .skills_subtitle{
    margin-bottom: 1rem;
  }
  .skills_text{
    margin-bottom: 2rem;
  }
  .skills_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  .skills_icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--primary-color);
  }
  .skills_names{
    display: flex;
    align-items: center;
    width: 500px;
  }
  .skills_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    height: .25rem;
    border-radius: .5rem;
    z-index:-100;
  }
  .skills_java{
    width: 80%;
  }
  .skills_c{
    width: 80%;
  }
  .skills_html{
    width: 40%;
  }
  .skills_css{
    width: 40%;
  }
  .skills_py{
    width: 40%;
  }
  .skills_img{
    border-radius: .5rem;
  }
  /*----------------------------------Project-----------------------------------------*/
  .project_container{
    row-gap: 10rem;
  }
  .project_img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    overflow: hidden;
  }
  .spacing{
    padding:  2rem;
  }
  .project_img img{
    transition: 1s ease-in-out; 
    cursor: pointer;
  }
  .project_img img:hover{
    transform: scale(1.05);
  }
  /*----------------------------------------Footer--------------------*/
  .main_footer{  
    background-color: var(--secondary-color);
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 50px;
    height: 100%;
    height: 2.5rem;
  }
  