@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;700&display=swap");
:root {
  --primary-color: rgba(13, 110, 139, 0.55);
  --secondary-color: rgba(24, 39, 51 , 0.85);
}
*{
  font-family:'BigShoulders' ,sans-serif;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  a{
    text-decoration: none;
    color: white;
  }
  body{
    background:white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.application_info{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 20;
}
.card{
    background-color: var(--primary-color);
    padding: 20px 20px;
    margin: 0 10px;
    display: flex;
    height: 200px;
    width: calc(50% - 150px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
}
.card_icon{
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    font-size: 28px;
    background: var(--secondary-color);
    width: 60px;
    height: 60px;
  }
  .card:hover .card_icon{
      background: none;
      transform: scale(1.5);
  }
.card p{
    opacity: 0;
    transition: 0.3s linear;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;

}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}
