@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;700&display=swap");
:root {
  --primary-color: rgba(13, 110, 139, 0.55);
  --secondary-color: rgba(24, 39, 51 , 0.85);
}
*{
  font-family:'BigShoulders' ,sans-serif;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  a{
    text-decoration: none;
    color: white;
  }
  body{
    background:white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-info{
    display: flex;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .card{
    background:var(--primary-color);
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
  }
  
  .card-icon{
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    font-size: 28px;
    background: var(--secondary-color);
    width: 60px;
    height: 60px;
  }
  
  .card:hover .card-icon{
    background: none;
    transform: scale(1.5);
  }
  
  .card p{
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .card:hover p{
    max-height: 40px;
    opacity: 1;
  }
  .card a:hover{
    position: relative;
}

.card a:hover:after{
  position: absolute;
  transition: 0.5s ease-in-out;
  content: "";
  width: 100%;
  top: 40px;
  height: 0.18rem;
  background-color: var(--secondary-color);
}
