
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
/* VARABLES STYLES */
:root {
    --primary-color: rgba(13, 110, 139, 0.55);
    --secondary-color: rgba(24, 39, 51 , 0.85);
    --trans-speed: 0.5s;
  }
  /* Body */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'BigShoulders' ,sans-serif;
    font-size: larger;
    line-height: 1.4;
  }
  /* Background*/
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
  }

  .showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
  .showcase:before {
    content: '';
    background: url('../images/m.jpeg') no-repeat center center/cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .showcase h1 {
    font-size: 4rem;
  }

  /* NAV-STYLES */

  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .side-bar > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2.5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }
  
  .menu-wrap .side-bar > div::before,
  .menu-wrap .side-bar > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .side-bar > div::after {
    top: 10px;
  }
  
  .menu-wrap .toggler:checked + .side-bar > div {
    transform: rotate(135deg);
  }
  
  .menu-wrap .toggler:checked + .side-bar > div:before,
  .menu-wrap .toggler:checked + .side-bar > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .toggler:checked:hover + .side-bar > div {
    transform: rotate(225deg);
  }
 
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .menu-wrap .menu > div {
    background: black; 
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.5s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color:white;
    font-size: 1.75rem;
    padding: 0.75rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    font-size: larger;
    transition: color 0.5s ease;
  }

  .menu-wrap .menu > div > div > ul > li > a:hover {
    position: relative;
    transition: 0.75s ease-in-out;
  }
  .menu-wrap .menu > div > div > ul > li > a:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 40px;
    background-color: green;
    transition: 0.75s ease-in-out;
  }


  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--trans-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 3;
    transition:  opacity 0.5s ease 0.5s;
  }
 
  
  